@import "song";
@import "shop";
@background-color: #181818;
@foreground-color: #b3b3b3;
@main-font-family: 'Montserrat Alternates', sans-serif;
@width: 10em;
@height: 2.8em;
* {
  cursor:  url("../images/1905035.svg") 5 5, default !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: @main-font-family;
}
html{
  min-width: 400px;
}
body {
  background-color: @background-color;
}
.footer{
  height: 50px;
  color: @foreground-color;
  background-color: @background-color;
  box-shadow: 0 -30px 20px @background-color;
  z-index: 3;
}

section {

  .background-item {
    position: relative;
  }
  .text{
    font-size: xx-large;
    @media(max-width: 1000px){
      font-size: x-large;
    }
    @media(max-width: 600px){
      font-size: large;
    }
    color: @foreground-color;
    text-align: justify;
    background: @background-color;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    margin-top:100vh;
    box-shadow: 0 -30px 20px @background-color;
    border-top-width: 20px;
    bottom: -20px;
    min-height: 100vh;
    position: relative;
    z-index: 1;
  }
  #model{
    z-index: 0;
    pointer-events: none;
    position: fixed;
    height: 70vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.btn-menu {
  position: absolute;
  color: @foreground-color;
  z-index: 3;
}


#menu {
  transition: all 1s ease;
  box-shadow: 30px 0 20px @background-color;
  z-index: 2;
  background-color: @background-color;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  .group {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    .item {
      text-align: center;
      margin-bottom: 10px;
      @import "btn-menu";
    }
    hr{
      border-color: @foreground-color;
    }
  }
  .background-image{
    transition: opacity 1s;
    position: absolute;
    filter : blur(3px);
    width: 10vw;
  }
}


.menuHidden {
  visibility: hidden;
  width: 0;
  .background-image{
    opacity: 0;
  }
}

.menuVisible {
  visibility: visible;
  width: 100%;
  .background-image{
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 12px; /* ширина для вертикального скролла */
  height: 8px; /* высота для горизонтального скролла */
  background-color: lighten(@background-color, 10%);
}

::-webkit-scrollbar-thumb {
  background-color: lighten(@background-color, 20%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: lighten(@background-color, 30%);
}

.modal-open {
  overflow: hidden;
}


