#shop-container{
  #shop-basket{
    top: 3px;
    right: 10px;
    .badge{
      left: -10px;
      top: -10px;
    }
  }
  .nav{
    margin-top: 20px;
    .shop-filter{

      .nav-link{
        padding-right: 32px;
        padding-left: 32px;
        font-size: 15px;
        color: @foreground-color;
      }
    }
  }
}