<% include Header.ejs %>
    <!-- About -->
    <section class="section" id="about">
        <div class="container">
            <div class="card__card" id="composition-list">

            </div><!-- /.container -->
        </div>
    </section>
    <!-- /.page -->

<% include Footer.ejs %>