<% include Header.ejs %>

<section>
    <img src="images/model3d.gif" id="model">
    <div class="text">
        <h>Григорій Савич Сковорода (22 листопада (3 грудня) 1722, Чорнухи, Лубенський полк — 29 жовтня (9 листопада)
            1794, Іванівка, Харківщина) — видатний український філософ-містик, богослов, поет, педагог, можливо, і
            композитор літургійної музики. Мав значний вплив на сучасників і подальші покоління своїми байками, піснями,
            філософськими творами, а також способом життя, через що його називали «Сократом».
        </h>
    </div>
</section>

<% include Footer.ejs %>