<% include Header.ejs %>

<section>
    <img src="images/model3d.gif" id="model">
    <div class="text">
        <h>Світ Сковороди покликаний об'єднати кращі ресурси, наявні в цифровому і в реальному світі, і дати читачам, учням, любителям і професійним дослідникам найповніше і цілісне уявлення про неординарну особистість видатного мислителя України.
        </h>
    </div>
</section>

<% include Footer.ejs %>