<% include Header.ejs %>

<div class="container-fluid">
    <div id="composition-title">
        <%=	compositionTitle %>
    </div>
    <div>
        <pre id="composition-text"><%= compositionText %></pre>
    </div>
</div>

<% include Footer.ejs %>