<% include Header.ejs %>

<div class="container-fluid">
    <div id="composition-title">
        <%=	compositionTitle %>
    </div>
    <div id="composition-text">
        <%= compositionText %>
    </div>
</div>

<% include Footer.ejs %>