<div class="row m-0 d-flex align-items-center">
    <img src="<%= item.icon%>" class="modal-image m-3" style="width: 64px;height: 64px">
    <h4 class="modal-title font-weight-bold ml-2" style="max-width: 150px"><%= item.title%></h4>
    <div class="btn-group btn-group-sm d-flex align-items-center ml-auto" role="group">
        <div class="btn-container d-flex justify-content-center align-items-center">
            <div type="button" class="btn">+</div>
        </div>
        <input type="input" class="text-center" value="1">
        <div class="btn-container d-flex justify-content-center align-items-center">
            <div type="button" class="btn">-</div>
        </div>
    </div>
    <div class="btn-container d-flex justify-content-center align-items-center ml-auto mr-3">
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>