<div class="col-lg-4 col-md-6 col-sm-12 pb-3 d-flex justify-content-center mb-5">
    <div class="card">
        <img src="<%= item.icon%>" class="card-img-top p-3" alt="...">
        <div class="card-body d-flex flex-column align-items-center">
            <div class="card-title "><%= item.title%></div>
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-dark">S</button>
                <button type="button" class="btn btn-dark">M</button>
                <button type="button" class="btn btn-dark">L</button>
                <button type="button" class="btn btn-dark">XL</button>
            </div>
            <div class="card-title "><%= item.price%><span>$</span></div>
            <button type="button" class="btn btn-danger">Купити</button>
        </div>
    </div>
</div>